body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: arial;
    
   
    div {
      text-align: center;
      
      h1 {
        font-size: 5em;
        color: #333;      
        
        @media screen and (width < 895px) {
          font-size: 3em;
        }
        @media screen and (width < 543px) {
          font-size: 2.5em;
        }
      }
      p {
        font-size: 1.5em;
        color: #555;
        margin-bottom: 50px;
        
        @media screen and (width < 400px) {
          font-size: 1em;
        }
      }
      button {
        outline: none;
        padding: 10px 50px;
        color: #fff;
        background: #272838;
        border: none;
        font-size: 1.6em;
        border-radius: 5px;
        box-shadow: 0 5px 20px #0005;
        cursor: pointer;
        
        &:hover {
          background: #333;
        }
      }
    }
  }